nav {

  background: #1D3557;
  height: auto;
  overflow: hidden;


  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .mid-item {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2.5vw;

    width: auto;
    --s: 0.5vw;   /* the thickness of the line */
    --c: #E63946; /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background:
            linear-gradient(90deg,var(--c) 50%, #ffffff 0) calc(100% - var(--_p,0%))/200% 100%,
            linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    transition: 0.3s;

    &:hover {
      --_p: 100%
    }
  }

  li {
    float: left;

    a {

      font-family: "Merriweather", serif;

      display: block;
      color: white;
      text-align: center;
      padding: 2vw;
      text-decoration: none;

    }
  }


  .last-item {
    margin-left: auto;
    margin-right: 2vw;
    width: 10%;
    background: #457B9D;
    border-radius:1.6vw;
    transition: all 0.5s ease-in-out;
    display:flex;
    justify-content: center;

    a {
      font-size: 2.5vw;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #1D3557;;
      }
    }

    &:hover {
      background: #B7E3E5;

    }

  }

  .first-item {
    font-weight: bold;
    margin-right: auto;

    a {
      font-family: "Merriweather", sans-serif;
      font-size: 5vw;
      transition: all 0.3s ease-in-out;

    }

    .O{
      position: absolute;
      transform:translateX(12vw)  rotate(2deg);
      font-size: 5vw;
      text-shadow: -0.3vw 0.3vw 1px #E63946;
    }



    &:hover {


      .Kairo1 {
        text-shadow: -0.3vw 0.3vw 1px #E63946;
      }

    }


  }
}
