<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
</head>
<body>
<div id="red_square">
    <div id="red_square_dot">
        <p id="equipe">L'équipe</p>
        <div id="images">
            <img src="img/LouisS.png" alt="LouisS" id="Louis" >
            <img src="img/MaximeS.png" alt="MaximeS" id="Maxime" >
            <img src="img/LouiseS.png" alt="LouiseS" id="Louise" >
            <img src="img/AntoS.png" alt="AntoS" id="Anto" >
        </div>
        <div id="text">
            <p id="LouisT">Louis</p>
            <p id="MaximeT">Maxime</p>
            <p id="LouiseT">Louise</p>
            <p id="AntoT">Antonin</p>
        </div>
        <div id="white_square">
            <div id="white_square_dot">
                <p id="explication">Kair’O est une application de gestion de
                    questionnaires développés par des étudiants
                    de l’IUT d’Orléans</p>

                <div id="connexion_button">
                    <div id="connexion_button_dot">
                        <div id="title_square">
                            <div id="title_square_dot">
                                <p> <span id="TextKairo">Qu'est ce que </span> <span id="Title">Kair'O ?</span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>