{% extends "base.html" %}

{% block styleandtitle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/questionnaire.css')}}">
<title>Questionnaire</title>
{% endblock %}

{% block content%}
<div class="container">
 <h1> Nouveau questionnaire</h1>
    <form role="form"  method="post">
    {{ form.hidden_tag() }}


        <div class="form-content">
    <div id="Add_title">
            <label for="title" class="texte">Nom</label>
            {{ form.nom }}
        </div>
        <div id="Add_description">
            <label for="description" class="texte">Description</label>
            {{ form.info }}
         </div>

            <div id="theredbtn">
            {{ form.submit(class="btnaa btn-primary") }}
            </div>

    </form>
    <div class="buttons">
        {{ buttonarrow("questionnaire", "white_button_slider", "Sauver") }}
        {{ buttonarrow("questionnaire", "white_button_slider", "Valider") }}
        {{ buttonarrow("questionnaire", "white_button_slider", "Quitter") }}
    </div>
</div>
{% endblock %}