{% extends "base.html" %}
    {% block styleandtitle %}
    <title>Ajouter Réponse </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/ajouter_question.css')}}">
    {% endblock %}

    {% block content %}
<form role="form"  method="post" >
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="Add_question_container">
    <h1>Ajouter Réponse</h1>


    {% if idt == 1 %} <!-- question courte -->
    <div id="Add_title">
        <label for="title">Réponse: </label>
        {{ form.reponse1 }}
    </div>
        <div id="nbrep">
            <label for="nbrep">Fraction</label>
            {{ form.fraction1 }}
        </div>

        {% endif %}
     {% if idt == 2 %} <!-- Vrai / Faux -->

    <div id="Add_title">
        <label for="title">Réponse: </label>
        <input type="radio" name="options" id="option1" value="true"> Vrai </input><br>
        <input type="radio" name="options" id="option2" value="false"> Faux </input><br>
    </div>
        <div id="nbrep">
            <label for="nbrep">Fraction</label>
            {{ form.fraction1 }}
        </div>

        {% endif %}

     {% if idt == 3 %} <!-- QCM -->
    <div id="Add_title">
        <label for="title">Réponse: </label>
        {{ form.reponse1 }}
        {{ form.fraction1 }}
    </div>
         <div id="Add_title">
        <label for="title">Réponse: </label>
        {{ form.reponse2 }}
         {{ form.fraction2 }}
    </div>
         <div id="Add_title">
        <label for="title">Réponse: </label>
        {{ form.reponse3 }}
         {{ form.fraction3 }}
    </div>
         <div id="Add_title">
        <label for="title">Réponse: </label>
        {{ form.reponse4 }}
         {{ form.fraction4 }}
    </div>


        {% endif %}


    {{ form.submit() }}

</div>


</form>


<script src="{{url_for('static', filename='js/Ajouter_question.js')}}"></script>
{% endblock %}