<!-- macro bouton fléché-->
<!-- TODO permettre d'ajouter les url_for dans la macro pour pouvoir cliquer sur le bouton-->
{% macro buttonarrow(func, btype, text) %}
    <button class="{{btype}}" href="{{url_for(func)}}">
        <span class="background"></span>
        <span class="arrow">
            <span class="body"></span>
            <span class="tip"></span>
        </span>
        <span class="text">{{text}}</span>
    </button>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/button.css')}}">
    <!-- for page specific stylesheets and page title MANDATORY-->
    {% block styleandtitle %}{% endblock %}
</head>
<body>
    <header>
        <div class="navigation-bar">
            <nav>
                <ul>

                    <li class="first-item">
                        <a href="{{url_for('home')}}" class="O">O</a>
                        <a href="{{url_for('home')}}" class="Kairo1">Kair'</a>
                    </li>

                    {% if current_user.is_authenticated %}
                    <li class="mid-item"><a href="{{ url_for("questionnaire") }}">questions</a>
                    <li class="mid-item"><a href="{{ url_for("questionnaires") }}">questionnaires</a>
                    <li class="mid-item"><a href="{{ url_for("about") }}">A propos</a></li>
                    <li class="last-item"><a href="{{ url_for("profil") }}">{{ current_user.username}}</a></li>
                    {% else %}
                    <li class="mid-item"><a href="{{ url_for("about") }}">A propos</a></li>
                    <li class="last-item"><a class="myBtn" href="#">Login</a></li>
                    {% endif %}
                    </ul>
            </nav>
        </div>
    </header>
    {% block connexion %}{% endblock %}
    {% block content %}{% endblock %}
    <footer>

    </footer>
<script src="button.js"></script>
</body>
</html>