<!-- macro bouton fléché-->
<!-- TODO permettre d'ajouter les url_for dans la macro pour pouvoir cliquer sur le bouton-->
{% macro buttonarrow(func, btype, text) %}
    <button class="{{btype}}" href="{{url_for(func)}}">
        <span class="background"></span>
        <span class="arrow">
            <span class="body"></span>
            <span class="tip"></span>
        </span>
        <span class="text">{{text}}</span>
    </button>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/button.css')}}">
    <!-- for page specific stylesheets and page title MANDATORY-->
    {% block styleandtitle %}{% endblock %}
</head>
<body onload="toggleBoxVisibility()">
    <header>
        <div class="navigation-bar">
            <nav>
                <ul>

                    <li class="first-item">
                        <a href="{{url_for('home')}}" class="O">O</a>
                        <a href="{{url_for('home')}}" class="Kairo1">Kair'</a>
                    </li>

                    {% if current_user.is_authenticated %}
                    <li class="mid-item"><a href="{{ url_for("questionnaire") }}">Questionnaires</a></li>
                    <li class="mid-item"><a href="{{ url_for("choose_qcm") }}">Participer</a></li>
                    <li class="mid-item"><a href="{{ url_for("about") }}">A propos</a></li>
                    <li class="last-item"><a href="{{ url_for("profil", idUser=current_user.username) }}">{{ current_user.username}}</a></li>
                    {% else %}
                    <li class="mid-item"><a href="{{ url_for("about") }}">A propos</a></li>
                    <li class="last-item"><a class="myBtn" href="#">Login</a></li>
                    {% endif %}
                    </ul>
            </nav>
        </div>
    </header>
    {% block connexion %}{% endblock %}
    {% block content %}{% endblock %}
    <footer>
    <div class="container_foot">
        <div class="row">
            <div class="col-md-4">
                <h4>About Us</h4>
                <p>Kair'O is a web application developed by students from the University Institute of Technology of Orleans, France. Our goal is to provide an easy-to-use tool for managing questionnaires.</p>
            </div>
            <div class="col-md-4">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy; 2023 Kair'O. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script src="button.js"></script>
<script src="{{url_for('static', filename='js/ajouter_question.js')}}"></script>
</body>
</html>