{% extends "base.html" %}
    {% block styleandtitle %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/connexion.css')}}">
    <title>Title</title>
    {% endblock %}

    {% block content %}
<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h1>Connexion</h1>
        </div>


        <div class="modal-body">
            <div class="connexion">
            <h3>Username</h3>
            <input type="text" name="username" placeholder=" Username" class="box">
            <h3>Password</h3>
            <input type="password" name="password" placeholder=" Password" class="box">

                {{buttonarrow("Login", "button_slider")}}
                <a href="#forgotpassword" class="forgot-pass">Forgot your password ?</a>

                <p> For security reasons, please log out and exit your web browser when you are done accessing services that require authentication!</p>
            </div>
        </div>

    </div>

</div>
<script src="static/js/connexion.js"></script>
{% endblock %}