{% extends "base.html" %}
    {% block styleandtitle %}
    {{ super () }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/connexion.css')}}">
    {% endblock %}

{% block connexion %}
<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h1>Connexion</h1>
        </div>
        <div class="modal-body">
            <form method="post" class="connexion" role="form">
                {{ form.csrf_token }}
                <h3>Username</h3>
                {{ form.username(class_="box", placeholder="Username") }}
                <h3>Password</h3>
                {{ form.password(class_="box", placeholder="Password") }}
                <button class="button_slider">
                    <span class="background"></span>
                    <span class="arrow">
                        <span class="body"></span>
                        <span class="tip"></span>
                    </span>
                    <span class="text">Login</span>
                </button>
                <a href="#forgotpassword" class="forgot-pass">Forgot your password ?</a>
                <p> For security reasons, please log out and exit your web browser when you are done accessing services that require authentication!</p>
            </div>
        </div>
    </div>
</div>
<script src="static/js/connexion.js"></script>
{% endblock %}