{% extends "base.html" %}
    {% block styleandtitle %}
    <title>Ajouter Question</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    {% endblock %}


{% block content %}
  <form method="POST" enctype="multipart/form-data" class="ulform">
    {{ form.hidden_tag() }}
    <div class="file-upload choice">
      <label for="file-input">Choose a file to upload</label>
      {{ form.file(id="file-input") }}
    </div>
    {{ form.submit(id_="sbutton") }}
  </form>
{% endblock %}
