{% extends "base.html" %}
    {% block styleandtitle %} 
    <link rel="stylesheet" href="{{url_for('static', filename='css/questionnaire.css')}}">
    <title>Questionnaire</title>
    {% endblock %}

{% block content%}
<div class="container">
    <h1>Questionnaire</h1>
    <div class ="titreq">
        <h3>Titre :</h3>
        <form action="" method="post">
        <input type="text" name="idqq" id="title" value="{{idqq}}">
        </form>
    </div>
    <div id="buttons">
    <button id="delete" class="delete"> Supprimer</button>
        <a href="{{url_for('ajoutq', idq = idqq)}}">
            <button id="add" class="add"> Ajouter </button>
        </a>

     </div>

    <div class="listequestion">
        <h3>Questions contenues: </h3>
        <div class="questions">
            <ul >
                {% for i in range(lenque) %}
                <li class="quest">question {{i+1}}
                    <div class="question">
                    <div>{{questions[i]['questiontext']}}</div>
                    <a href="{{url_for('question', idq = questions[i]['idq'])}}">
                    <button class="deleteq"> Supprimer</button>
                    </a>
                        </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="buttons">
        {{buttonarrow("Sauver","white_button_slider")}}
        {{buttonarrow("Valider","white_button_slider")}}
        {{buttonarrow("Quitter","white_button_slider")}}
    </div>
</div>
{% endblock %}