{% extends "base.html" %}

{% block styleandtitle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/questionnaire.css')}}">
<title>Questionnaire</title>
{% endblock %}

{% block content%}
<div class="container">
    <h1>Gestion des Questionnaires</h1>

    <div class ="titreq">
        <h3>Choix:</h3>

        <form action="" method="post" idqq = {{ idqq }}>
            <select name="idqq" id="idqq" onchange="this.form.submit()">
                <option value="0">Choisir un questionnaire</option>
                {% for questionnaire in questionnaires %}
                        <option value="{{ questionnaire.idq }}"
                        {% if idqq == questionnaire.idq %}
                        selected
                        {% endif %}>
                         {{ questionnaire.nom }}
                        </option>

                {% endfor %}
            </select>
        </form>

    </div>
    <div class="listequestion">
        <h3>Questions contenues :</h3>
        <div class="questions">
            <ul>

                {% for question in questions %}
                <li class="quest">Question {{ question.idq }}
                    <div class="question">
                        <div>{{ question.questiontext }}</div>
                        <a class="deleteq" href="#" onclick="deleteQuestion({{ question.idq }})">
                            <button class="deleteq"> Supprimer</button>
                        </a>
                       <a class="deletq" href="{{ url_for('edit_question', idq=question.idq) }}">
                            <button class="deleteq"> Modifier</button>
                       </a>

                <script>
                function deleteQuestion(idq) {
                  fetch("{{ url_for('delete_question', idq=question.idq) }}", { method: 'DELETE' })
                    .then(response => response.json())
                    .then(data => {
                      alert(data.message);
                      location.reload();
                    });
                }
                </script>


                    </div>
                </li>
                {% endfor %}
            {% if idqq !=-1 %}
                <li>
                    <a href="{{ url_for('ajoutq', idq=idqq) }}">
                        <button class="addbtn"><i class="fa fa-plus"></i></button>
                    </a>
                </li>
            {%  endif %}
            </ul>
        </div>
        </div>
    <div class="buttons">
        {{ buttonarrow("questionnaire", "white_button_slider", "Sauver") }}
        {{ buttonarrow("questionnaire", "white_button_slider", "Valider") }}
        {{ buttonarrow("questionnaire", "white_button_slider", "Quitter") }}
    </div>
</div>
{% endblock %}