body {
  padding: 0;
  margin: 0;
  background: #1D3557;
}
#sbutton {
  background-color: #FFFFFF;
  width: 7vw;
  height: 4.5vh;
  font-family: Oswald, serif;
  border-radius: 5vh;
  margin-left: 1vw;
}
#sbutton:hover {
  background-color: #E63946;
  color: #FFF5EB;
}
.choice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-left: 2vw;
}
.dlform {
  display : flex;
  flex-direction: row;
}

.ulform {
  display : flex;
  flex-direction: column;
  padding : 10px;

}

form{
  padding : 10px;
  margin : 10px;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

/* Style the file input */
.file-upload {
  position: relative;
  width: auto;
  height: auto;
  border: 10px #ffffff;
  margin: 0 auto;
  padding-bottom:10px;
}

.file-upload input[type=file]{
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #ffffff;
  padding: 10px 20px;
  margin : 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: Oswald, serif;
}

.file-upload:hover input[type=file]{
  background-color: rgba(47, 47, 47, 0.42);
  color: #FFF5EB;
  transition: background-color 0.3s;
  border : 2px solid #ffffff;

}

::-webkit-file-upload-button {
  display: none;
}


/* Style the button used to trigger the file input */
.file-upload label {
  display: block;
  color: #ffffff;
  font-family: Oswald, serif;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

