body {
  background-color: #FFF5EB;
}

.container {
  display: flex;
  font-family: "Merriweather", serif;
  flex-direction: column;
  align-items: center;

  background-color: #1D3557;
  width: 96%;
  height: 150vh;
  border-radius: 5vh;
  margin: 4vh;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  h1{

    color: #FFF5EB;
    font-size: 5em;
    font-family: Merriweather, serif;
    font-weight: bolder;
    padding-top: 4vh;
    text-shadow: -1px 4px 0px #E63946;

  }
  .titreq {
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95% ;
    height: 7vh;
    transform: translateY(17vh);
    h3{
      color: #FFF5EB;
      font-size: 4em;
      font-family: Oswald, serif;
      font-weight: bolder;

    }
    input[type = text] {
      width: 80%;
      height: 3em;
      border-radius: 0.7em;
      border: none;
      font-size: 1.5em;

    }

   }
  .delete {
    background-color: #FFF5EB;
    margin-top: 22vh;
    width: 15vw;
    height: 7.5vh;
    font-family: Oswald, serif;
    font-size: 2em;
    border-radius: 5vh;
  }
  .delete:hover {
    background-color: #E63946;
    color: #FFF5EB;
  }
  .listequestion {

    color : #1D3557;
    width: 95%;
    height: 60vh;
    margin-top: 5vh;

    h3{
      font-size: 2em;
    }
    .questions {
      margin-top: 5vh;
      background-color: #FFF5EB;
      width: 100%;
      height: 50vh;
      border-radius: 2vh;
      .quest{

        margin-left: 2vh;
        margin-top: 3vh;
        font-size: 1.5em;
        font-family: Oswald, serif;


      }

    }
  }
  .buttons {
    margin-top: 17vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%
  ;



  }

}
